{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %} Welcome to my page {% endblock %}

{% block body %}
    <form action="/Index" method="post">
        <div class="imgcontainer">
            <img src="{{ asset('build/img_avatar2.png') }}" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="emailAddress"><b>Email Address</b></label>
            <input type="text" placeholder="Enter Email Address" name="emailAddress" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="rememberMe">Remember Me
            </label>
        </div>

        <div class="container" style="background-color: #f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a> </span>
        </div>

    </form>
{% endblock %}